<div class="mt-4">
    <h3>Đăng khóa học</h3>
        <form method="POST" action="/courses/store">
            <div class="mb-3">
                <label for="name" class="form-label">Tên khóa học</label>
                <input name="name" type="text" class="form-control" id="exampleInputEmail1" >
            </div>
            <div class="mb-3">
                <label for="description" class="form-label">Mô tả khóa học</label>
                <input name="description" type="text" class="form-control" id="exampleInputEmail1" >
            </div>
            <div class="mb-3">
                <label for="videoId" class="form-label">Video khóa học</label>
                <input name="videoId" type="text" class="form-control" id="exampleInputEmail1" >
            </div>
            <div class="mb-3">
                <label for="level" class="form-label">Level khóa học</label>
                <input name="level" type="text" class="form-control" id="exampleInputEmail1" >
            </div>
            <button type="submit" class="btn btn-primary">Thêm khóa học</button>
        </form>
</div>