

<div class="mt-4">
    {{!-- <form method="get" action="/news" >  --}}
      <form method="post" action="" >
      <div class="mb-3">
        <label for="search-input" class="form-label">Tu khoa</label>
        <input type="text" name="q" class="form-control" id="exampleInputEmail1" placeholder="Nhap tu khoa">
      </div>
      <button type="submit" class="btn btn-primary">Tim kiem</button>
    </form>
</div>